<div class="container" style="align-content: center">
    <div *ngIf="!post" class="row justify-content-center">
        <div class="col-1 spinner-border align-self-center" style="padding: 6rem; margin: 4rem" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
    <form *ngIf="post" (ngSubmit)="save()" #postForm="ngForm">
      <div class="row form-group">
        <div class="col-6">>
          <label for="title">Título</label>
          <input type="text" required [(ngModel)]="post.title" class="form-control" id="title" name="title" placeholder="Título">
        </div>  
        <div class="col-6">
          <label for="body">Cuerpo</label>
          <input type="text" required class="form-control" [(ngModel)]="post.body" id="body" name="body" placeholder="Cuerpo">
        </div>
      </div>
      <div class="row form-group">
        <div class="offset-3 col-6">
          <label for="userId">UserID</label>
          <input type="number" required class="form-control" id="userId" [(ngModel)]="post.userId" name="userId" placeholder="UserID">
        </div>
      </div>
      <div class="row">
        <div class="offset-5 col-1" style="margin-left: 520px">
          <button [disabled]="postForm.invalid" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
</div>