.cell{
    height:100px;
    color:black;
    font-weight:bold;
}
.c0{
    background-color:#ecf0f1;
    border-style: solid;
    border-right: thick;
}
.c1{
    background-color:#f1c40f;
}
.c2{
    background-color: #e67e22;
}
.c3{
    background-color:#e74c3c;
}
.c4{
    background-color:#27ae60;
}
.c5{
    background-color:#2980b9;
}
.c6{
    background-color:#8e44ad;
}
.c7{
    background-color:#34495e;
}